.home-btn {
  position: absolute;
  top: 20px;
  left: 25px;
  color: white;
  font-size: 0.95rem;
  text-decoration: none;
  border: 1px solid black;
  padding: 6px 12px;
  border-radius: 6px;
  transition: all 0.3s ease;
  background-color: rgb(0, 0, 0);
}

.home-btn:hover {
  background-color: rgb(65, 65, 65);
}
